import React, { FC } from 'react';

import './styles.scss';

export interface {{pascalCase name}}Props {}

const {{pascalCase name}}:FC<{{pascalCase name}}Props> = ({}) => {
  return <section>{{pascalCase name}}</section>;
};
  
export default {{pascalCase name}};